@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ISEM-551 Solution (Group 2)</h1>
    <p class="lead">We are a group of students in class ISEM 551 in Harrisburg University. This web application includes the collection of assignment that we work on
    for class ISEM-551</p>
    <p><a href="https://www.harrisburgu.edu/programs/ms-information-systems-engineering-and-management/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        <img src="https://www.harrisburgu.edu/wp-content/uploads/HU-800x534.jpg" alt="Tesla Moon Trip" width="1000" height="600">
    </div>
    
</div>