
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.css" />
</head>

<body>
    <div class="container">
        <h3>Assignment Requirements</h3>
        <p>Simple HTML and JavaScript Application</p>
        <h3>Accomplishment</h3>
        <p>As a team, we have created an project <b>Assignment 1</b> under our main solution in Visual Studio.
        In addition to leveraging <b><a href="https://jquery.com/">jQuery</a></b>, we have also incorporated <b><a href="https://getbootstrap.com/">Bootstrap</a></b>
        in order to exploring more libraries and beautify table element in this webpage.
        <br />
        Another section that we explore in the process of building a MVC web application is to embeded elements such as image, table, button, table row and etc with customization through
        their attributes.
        </p>
        <h3>Group 2 Team Memebers</h3>
        <!--Bootstrap Basic Table using .table class-->
        <table class="table" style="width:50%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>KyungHyo</td>
                <td>Kim</td>
                <td><a href="mailto:kkim@my.harrisburgu.edu">kkim@my.harrisburgu.edu</a></td>
            </tr>
            <tr>
                <td>Lingbo</td>
                <td>Kou</td>
                <td><a href="mailto:lkou@my.Harrisburgu.edu.">lkou@my.Harrisburgu.edu</a></td>
            </tr>
            <tr>
                <td>Yu</td>
                <td>Fan</td>
                <td><a href="mailto:yFan17@my.harrisburgu.edu">yFan17@my.harrisburgu.edu</a></td>
            </tr>
        </table>

        <img src="https://observer.com/wp-content/uploads/sites/2/2020/02/GettyImages-915879862.jpg?quality=80h" alt="Tesla Moon Trip" width="1000" height="600">
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>