@model IEnumerable<Models.TestModelClass>
@using GridMvc.Html

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.css" />
</head>

<body>
    <h3>@ViewBag.Message</h3>

    <div>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="panel panel-primary pre-scrollable">
                @Html.Grid(Model).Named("EmployeeInformationData").Columns(columns =>
                {
                    columns.Add(col => col.Emp_no).Titled("Employee ID");
                    columns.Add(col => col.First_name).Titled("First Name");
                    columns.Add(col => col.Last_name).Titled("Last Name");
                    columns.Add(col => col.Gender).Titled("Gender");
                    columns.Add(col => col.Hire_date).Titled("Hire Date ");
                }).WithPaging(4).Sortable()
            </div>
        }

    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>