
<!DOCTYPE html>
<html>
<head>
    <title>Team Members</title>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.css" />
</head>

<body>
    <div class="container">
        <h1>Group 2 Team Memeber List</h1>
        <p>This is Assignment 1</p>
        <!--Bootstrap Basic Table using .table class-->
        <table class="table" style="width:50%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            <tr>
                <td>KyungHyo</td>
                <td>Kim</td>
            </tr>
            <tr>
                <td>Lingbo</td>
                <td>Kou</td>
            </tr>
            <tr>
                <td>Yu</td>
                <td>Fan</td>
            </tr>
        </table>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY866XC_nQarm2aLbWBLqTkKIPaME_hLUpsufgNv9B8PZIBp-nxdnGCiaYj374k_iQLVk&usqp=CAU" alt="Italian Trulli">
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>