<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63250/NewService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INewService" contract="NewService.INewService"
                name="BasicHttpBinding_INewService" />
        </client>
    </system.serviceModel>
</configuration>